.navbar {
    background-color: #DEECF4;
    margin-bottom: 0;
    border-radius: 0;
    border-color: transparent;
    padding: 0cm 0cm 0cm 1.5cm;
}


div.slide-left {
    width:100%;
    overflow:hidden;
}
div.slide-left h1 {
    animation: slide-left 5s;
}

@keyframes slide-left {
    from {
	margin-left: 100%;
	width: 300%;
    }

    to {
	margin-left: 0%;
	width: 100%;
    }
}


#grad1 {
    background: #619DCF; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #619DCF, white); /* Standard syntax (must be last) */
}

h1 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    color: #E9F2F7;
}

h2{
    color: red;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 50;
    letter-spacing: 1px;
}
li{
    font-weight: bold;
}


.col-sm-12{
    text-align: justify;
    height: 100%;
    padding: 0cm 2cm 1cm 2cm;

}

.well{
    background: #E3ECF5;
}

h4{
    display:none;
    color: black;
    font-size: 20px;
    opacity: 0.5;
    text-align: justify;
}

h5{
    color: #58819F; font-size: 100px; opacity: 0.75;
}

.btn-link{
    color: #58819F; font-size: 20px; opacity: 0.65;
}

.btn-link:hover{
    text-decoration: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}
