<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block bg %}
    {% endblock %}
  </head>

  <body bgcolor="#F5B039">
    {# Display flashed messages #}
    {% set messages = get_flashed_messages() %}

    {% for msg in messages %}
    <h1>{{msg}}</h1>
    {% endfor %}
    {% block navbar %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    <br><br>

    {% block footer %}
    {% endblock %}


  </body>
</html>
