{% extends "guess_base.html" %}

{% block title %}
  Create Account
{% endblock %}


{% block content %}
    <div class="col-sm-12 text-left" id="grad1">

  <div class="slide-left">
<h1>CREATE ACCOUNT</h1>
  </div>


   <hr>
   {# Display flashed messages #}
  {% set messages = get_flashed_messages() %}

  {% for msg in messages %}
  <center><h2>{{msg}}</h2></center>
  {% endfor %}
  <hr>

  <div class = "well">
      <form action="/signup">

	<div class="form-group">

      <label for="username">Username:</label>
      <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>

     <div class="form-group">
      <label for="pwd1">Password:</label>
      <input type="password" class="form-control" id="pwd1" placeholder="Enter password" name="pwd1">
     </div>

     <div class="form-group">
      <label for="pwd2">Password:</label>
      <input type="password" class="form-control" id="pwd2" placeholder="Retype password" name="pwd2">
     </div>

      <div class="form-group">
      <label for="age">Age:</label>
      <input type="age" class="form-control" id="age" placeholder="Enter age" name="age">
      </div>

      <div class="form-group">
      <label for="height">Height:</label>
      <input type="height" class="form-control" id="height" placeholder="Enter height in cm" name="height">
      </div>

       <div class="form-group">
      <label for="weight">Weight:</label>
      <input type="weight" class="form-control" id="weight" placeholder="Enter weight in kg" name="weight">
       </div>

       <div class="form-group">
      <label for="sel1">Select music (select one):</label>
      <select class="form-control" id="sel1" name="sel1">
        <option value="hip-hop">Hip-hop</option>
        <option value="pop">Pop</option>
        <option value="country">Country</option>
        <option value="rock">Rock</option>
        <option value="k-pop">K-Pop</option>
        <option value="metal">Metal</option>
        <option value="alternative">Alternative</option>
        <option value="blues">Blues</option>
        <option value="classical">Classical</option>
        <option value="edm">EDM</option>
        <option value="jazz">Jazz</option>
      </select>
       </div>


	 <div class="form-group">
      <label for="address">Zipcode:</label>
      <input type="address" class="form-control" id="address" placeholder="Enter zipcode" name="address">
	 </div>

	 <input type="submit" class="btn btn-default" value="Submit">

	     <br>
    <!--Don't have an account yet? Click <a href="createaccount">here</a>!-->

    </form>
</div>



   
    </div>
  </div>


{% endblock %}
