{% extends "base.html" %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <h2> Welcome {{ name }} </h2>
    <br>

    <!--{{ info }}-->
    <form action="/update_profile">
        <input type="hidden" name="username" value="{{name}}">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Result/Value?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Weight:</td>
                    <td><input type="text" name="weight" value="{{info.weight}}"></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" name="age" value="{{info.age}}"></td>
                </tr>
                <tr>
                    <td>Link:</td>
                    <td><input type="text" name="pfplink" value="{{info.pfplink}}"></td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td><input type="email" name="email" value="{{info.email}}"></td>
                </tr>
                <tr>
                    <td>Music Genre:</td>
                    <td>
                        <input type="radio" name="music" value="Hip-hop" checked> Hip-hop<br>
                        <input type="radio" name="music" value="Pop"> Pop<br>
                        <input type="radio" name="music" value="Country"> Country<br>
                        <input type="radio" name="music" value="Rock"> Rock
                    </td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" name="address" value="{{ info.address }}"></td>
                </tr>
                <tr>
                    <td>Height:</td>
                    <td><input type="text" name="height" value="{{ info.height }}"></td>
                </tr>
                <tr>
                    <td>Exercise:</td>
                    <td>
                        <input type="radio" name="excercise" value="Cardiovascular" checked> Cardiovascular<br>
                        <input type="radio" name="excercise" value="Strength"> Strength<br>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="submit">Update Profile</button>
    </form>


{% endblock %}