{% extends "user_base.html" %}

{% block title %}
Food Description
{% endblock %}

{% block content %}
<div class="col-sm-12 text-left"  id="grad1">
  <div class="slide-left">
    <h1> Food Description for {{ name }} </h1>
  </div>


  <div class = "well">
    <table class = "table">
      <thead>
	<tr>
          <th><h3>Calories</h3></th>
	  <th><h3>Benefits</h3></th>
	  <th><h3>Ingredients</h3></th>
          <th><h3>Nutrients (Daily Value)</h3></th>
	</tr>
      </thead>
      <tbody>
	<tr>

    <td>
	    {{ food["calories"] }}
	  </td>

	  <td>
	    {% for label in food["dietLabels"] %}
        {{ label }} <br>
      {% endfor %}
	  </td>

	  <td>
      {% for ingredient in food["ingredients"][0]["parsed"] %}
        {{ ingredient["food"] }} <br>
      {% endfor %}
	  </td>

    <td>
      {% for nutrient in food["totalDaily"].itervalues() %}
        {{ nutrient["label"] }} : {{ nutrient["quantity"] }}{{ nutrient["unit"] }} <br>
      {% endfor %}
	  </td>

	</tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-default btn-med" onclick="goBack()">Go Back</button>

</div>


{% endblock %}
