<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
   <head>
     <title>
       {% block title %}
       {% endblock %}
     </title>
     <link rel="stylesheet" type="text/css" href="static/guess.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script>
       $(document).ready(function(){
       $(".btn-link").click(function(){
       $(".btn-link").fadeOut()
       $("h4").fadeIn();
       });
       });
     </script>

   </head>

   <body onload="myFunction()">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LIMERENCE</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/createaccount">CREATE ACCOUNT</a></li>
    </ul>
  </div>
</nav>

{% block content %}
{% endblock %}

<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>
   </body>


  </html>
