{% extends "guess_base.html" %}

{% block title %}
<title>
  Home
</title>
{% endblock %}

{% block content %} 

     <div class="col-sm-12 text-left"  id="grad1">
       <div class="slide-left">
         <h1>HOME</h1>
       </div>

       <hr>

       <div>
         <h1  style= "color: #58819F">Our project is a lifestyle app where users will be able to monitor and receive suggestions in regards to their dietary choices and exercise choices. With the initial creation of an account, the user will be prompted to insert information about their music choices and their body type. This information will be used to track and suggest music, food choices, and exercise sets later on. With these recommendations, the user will also be able to create a schedule to plan out their day. If the user is fond of the recommendations, he/she may save these recommendations and reuse them in the future. A profile will be created to track saved information.</h1>

       </div>


     </div>

</div>


{% endblock %}



