{% extends "guess_base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="col-sm-12 text-left"  id="grad1" style= "padding: 10cm 5cm 15cm 5cm;">
   <div id="loader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">
    <center>
      <h5> LIMERENCE</h5>
<button type="button" class="btn btn-link">Click to learn more</button>
<h4>

  Limerence is a lifestyle application where users are able to monitor and receive suggestions in regards to their dietary and exercise choices. With the creation of an account, the user will be prompted to insert information about their music preferences and body type. This information will be used to track and suggest music, food choices, and exercise sets later on. With these recommendations, users will be able to modify a schedule to plan out their day. Users are able to track their calories under the given profile tab.


</h4>
      </center>
  </div>


</div>
{% endblock %}
