{% extends "user_base.html" %}

{% block title %}
    Profile
{% endblock %}
{% block content %}

<div class="col-sm-12 text-left"  id="grad1">
    <div class="slide-left">
      <h1> Welcome {{ name }} </h1>
      </div>
    <hr>
    
<div class = "well">
    <table class = "table">
        <thead>
            <tr>
                <th><h3>Category</h3></th>
                <th><h3>Result/Value?</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Weight:</td>
                <td>{{info.weight}}</td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>{{info.age}}</td>
            </tr>
            <tr>
                <td>Link:</td>
                <td>{{info.pfplink}}</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>{{info.email}}</td>
            </tr>
            <tr>
                <td>Music Genre:</td>
                <td>{{info.music}}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{ info.address }}</td>
            </tr>
            <tr>
              <td>Height:</td>
              <td>{{ info.height }}</td>
            </tr>
            <tr>
              <td>Exercise:</td>
              <td>{{ info.excercise }}<br>
              </td>
            </tr>
        </tbody>
    </table>
    <br>
    <form method="get" action= "/edit_profile">
      <button class="btn btn-default">Edit profile</button>
    </form>
</div>
</div>

{% endblock %}
