{% extends "user_base.html" %}

{% block title %}
Recommendations
{% endblock %}

{% block content %}	 
<div class="col-sm-12 text-left"  id="grad1">
  <div class="slide-left">
    <h1>Welcome {{name}} to your RECOMMENDATIONS</h1>
  </div>
  <hr>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>
            <h3>Add to Schedule</h3>
          </th>
          <th>
            <h3>Select a Time</h3>
          </th>
          <th>
            <h3>Recommendations</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for i in num_events %}
        <tr>
          <form action="/recommended">
            <td>
              <center>
                <button type="submit" class="btn btn-default btn-med">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
                </button>
              </center>
            </td>
            <td>
              <select name="time_hr">
                {% for j in clock %}
                  <option value={{j}}>{{j}}:00</option>
                {% endfor %}
              </select> 
            </td>
            <td><input type="hidden" name="event" value={{sch[i]}}>{{sch[i]}}</td>
            </td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- <script src="../static/schedule.js"></script>    -->
  </div>
</div>

{% endblock %}
