{% extends "user_base.html" %}

{% block title %}
<title>
  Schedule
</title>
{% endblock %}


{% block content %}

<div class="col-sm-12 text-left"  id="grad1">
  <div class="slide-left">
    <h1>Welcome {{name}} to your SCHEDULE</h1>
  </div>
  <hr>
  <div>
    <table class="table">
      <thead>
	<tr>
          <th><h3>Clear</h3></th>
          <th><h3>Time</h3></th>
          <th><h3>Acitivity</h3></th>
	  <th><h3>Music Recommendations</h3></th>
	</tr>
      </thead>
      {% for i in clock %}
      <tbody>
	<tr>
	  <td><center><a href="/rmSchedule?id={{i}}&sch={{sch}}&song={{song}}"><button type="button" class="close" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
	  </button></a> </center></td>
          <td>{{i}}:00</td>
          <td>{{sch[i]["activity"]}}</td>
          <td>
            {% if sch[i]["music"] == '(EMPTY)' %}
            (EMPTY)
            {% else %}
            <iframe src="https://open.spotify.com/embed?uri={{sch[i]["music"]}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
            {% endif %}
          </td>
	</tr>
        {% endfor %}
      </tbody>
    </table>
    <script src="../static/schedule.js"></script>
  </div>
</div>


{% endblock %}
