<link rel="stylesheet" type="text/css" href="static/home.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="static/user.css">  
  </head>


  <body>
    <div id="navbar"
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/userhome">LIMERENCE</a>
	</div>
	<ul class="nav navbar-nav">
	  <li><a href="/recommendations">RECOMMENDATIONS</a></li>
	  <li><a href="/scheduler">SCHEDULE</a></li>
	  <li><a href="/profile">PROFILE</a></li>
          <li><a href="/logout">LOG OUT</a></li>
	</ul>
      </div>
    </nav>
    </div>

    <div class = "content">
    {% block content %}
    {% endblock %}
    </div>
    
    <script>
function goBack() {
    window.history.back();
}

window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
    
  </body>


  
</html>
