{% extends "base.html" %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <h2>WELCOME!</h2>
    <h3>About this page:</h3>
    <p>
    This is the page to explore your creative writing skills (or just chat with friendly users)! Anything goes but before you post anything,
        please use the litmus test - if what you're saying will get you suspended from school, fired from work, brought to the attention of
        Snoo, chances are you should rephrase.
        <br><br>
        And now...without further ado, please enjoy the creation of <b>RoomOfOnesOwn...ToCode</b> by clicking on any of the above tabs to get started!

    </p>
{% endblock %}